/********** Base styles **********/
* {
  box-sizing: border-box
}

h1 {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 32px;
  color: #08088A
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: justify;
  font-size: 18px
}

#t1 {
  border: solid black;
  background-color: #FF9900;
  position: absolute;
  top: 7.7%;
  width: 200px;
  height: 35px;
  text-align: center;
  padding: 1px 1px 1px 1px;
  font-weight: bold;
  font-style: italic;
  font-size: 23px;
  color: black
}

#t2 {
  border: solid black;
  background-color: #D2691E;
  position: absolute;
  width: 200px;
  height: 35px;
  text-align: center;
  padding: 1px 1px 1px 1px;
  font-weight: bold;
  font-style: italic;
  font-size: 23px;
  color: #0000FF
}

#t3 {
  border: solid black;
  background-color: #A9A9A9;
  position: absolute;
  width: 200px;
  height: 35px;
  text-align: center;
  padding: 1px 1px 1px 1px;
  font-weight: bold;
  font-style: italic;
  font-size: 23px;
  color: #8A2BE2
}

#box {
  height: 150px;
  margin: 10px 10px 10px 10px;
  background-color: #008B8B;
  padding: 30px 10px 10px 10px;
  border: 5px solid black;
  /* overflow: auto;*/
  overflow: hidden
}

/* Simple Responsive Framework. */
.row {
  width: 100%
}

/********** Desktop version **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%
  }

  #t1{
    right: 67.3%
  }

  #t2 {
    top: 7.7%;
    right: 34.29% 
  }

  #t3 {
    top: 7.7%;
    left: calc(100vw - 218px)
  }
}

/********** Tablet version **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left
  }

  .col-md-6 {
    width: 50%
  }

  .col-md-12 {
    width: 100%
  }

  #t1{
    right: 51vw
  }

  #t2, #t3 {
    left: calc(100vw - 218px)
  }

  #t2 {
    top: 7.7%
  }

  #t3 {
    top: 25.5%
  }
}

/********** Mobile version **********/
@media (max-width: 767px) {
  .col-sm-12 {
    float: left
  }

  #t1, #t2, #t3 {
    left: calc(100vw - 218px)
  }
  
  #t2 {
    top: 25.5%
  }

  #t3 {
    top: 43.3%
  }
}